extends ../base

block content
    .row.justify-content-center
        .col-lg-8
            h1 Your Tasks
            if session.user.tasks.length === 0
                p You Dont Have Any Task
            else
                ul.list-group.mt-3
                    each task in tasks.notConcluded
                        li.list-group-item.d-flex.justify-content-between
                            .custom-control.custom-checkbox
                                input.custom-control-input(id=`checkbox-${task.id}` onchange=`window.location.href="/tasks/${task.id}/concluded"` type="checkbox")
                                label.custom-control-label(for=`checkbox-${task.id}`)= task.title
                            .btn-group
                                a.btn.btn-primary(href=`/tasks/${task.id}/show`)
                                    i.fas.fa-eye
                                a.btn.btn-secondary(href=`/tasks/${task.id}/edit`)
                                    i.fas.fa-edit
                                a.btn.btn-danger(href=`/tasks/${task.id}/delete`)
                                    i.fas.fa-trash-alt
                ul.list-group.mt-3.mb-3
                    each task in tasks.concluded
                        li.list-group-item.list-group-item-danger.d-flex.justify-content-between
                            .custom-control.custom-checkbox
                                input.custom-control-input(id=`checkbox-${task.id}` onchange=`window.location.href="/tasks/${task.id}/concluded"` checked type="checkbox")
                                label.custom-control-label(for=`checkbox-${task.id}`)
                                    strike.text-danger= task.title
                            .btn-group
                                a.btn.btn-primary(href=`/tasks/${task.id}/show`)
                                    i.fas.fa-eye
                                a.btn.btn-danger(href=`/tasks/${task.id}/delete`)
                                    i.fas.fa-trash-alt
            a.btn.btn-success.mb-3(href="/tasks/store" role="button")  Add a new task